<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927662543247-n820idhspifd6jem8tsreo00aoapkg8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927662543247-n820idhspifd6jem8tsreo00aoapkg8v</string>
	<key>API_KEY</key>
	<string>AIzaSyBm9WBgi5Mrj63iTEdrBRoy7GOn9iyatb0</string>
	<key>GCM_SENDER_ID</key>
	<string>927662543247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gofresh1</string>
	<key>PROJECT_ID</key>
	<string>gofresh1-e6acb</string>
	<key>STORAGE_BUCKET</key>
	<string>gofresh1-e6acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927662543247:ios:7f6108d4be7305d0e27bfa</string>
</dict>
</plist>